{
  "version": "1.0.1",
  "git_sha": "d5746045ac740d5f28f238dc55ec95c89d2b7cd9",
  "build_date": "2016-11-07 21:31:04",
  "build_time": 1478554264,
  "build_user": "",
  "start_time": 1484956046.39402,
  "id": "8b63f436-482d-44d0-9052-17c23e72ef68-S0",
  "pid": "slave(1)@172.16.1.145:5051",
  "hostname": "172.16.1.145",
  "resources": {
    "disk": 95297,
    "mem": 31155,
    "gpus": 0,
    "cpus": 8,
    "ports": "[1025-2180, 2182-3887, 3889-5049, 5052-8079, 8082-8180, 8182-32000]"
  },
  "attributes": {},
  "master_hostname": "ip-172-16-3-35.us-west-1.compute.internal",
  "external_log_file": "/var/log/mesos/mesos-agent.log",
  "flags": {
    "slave_subsystems": "cpu,memory",
    "appc_simple_discovery_uri_prefix": "http://",
    "appc_store_dir": "/tmp/mesos/store/appc",
    "authenticate_http_readonly": "false",
    "authenticate_http_readwrite": "false",
    "authenticatee": "crammd5",
    "authentication_backoff_factor": "1secs",
    "authorizer": "local",
    "cgroups_cpu_enable_pids_and_tids_count": "false",
    "cgroups_enable_cfs": "true",
    "cgroups_hierarchy": "/sys/fs/cgroup",
    "cgroups_limit_swap": "false",
    "cgroups_root": "mesos",
    "container_disk_watch_interval": "15secs",
    "container_logger": "org_apache_mesos_LogrotateContainerLogger",
    "containerizers": "docker,mesos",
    "default_role": "*",
    "disk_watch_interval": "1mins",
    "docker": "docker",
    "docker_kill_orphans": "true",
    "docker_registry": "https://registry-1.docker.io",
    "docker_remove_delay": "1hrs",
    "docker_socket": "/var/run/docker.sock",
    "docker_stop_timeout": "20secs",
    "docker_store_dir": "/var/lib/mesos/slave/store/docker",
    "docker_volume_checkpoint_dir": "/var/lib/mesos/isolators/docker/volume",
    "enforce_container_disk_quota": "false",
    "executor_environment_variables": "{\"LD_LIBRARY_PATH\":\"\\/opt\\/mesosphere\\/lib\",\"LIBPROCESS_NUM_WORKER_THREADS\":\"8\",\"PATH\":\"\\/usr\\/bin:\\/bin\",\"SASL_PATH\":\"\\/opt\\/mesosphere\\/lib\\/sasl2\",\"SHELL\":\"\\/usr\\/bin\\/bash\"}",
    "executor_registration_timeout": "10mins",
    "executor_shutdown_grace_period": "5secs",
    "external_log_file": "/var/log/mesos/mesos-agent.log",
    "fetcher_cache_dir": "/tmp/mesos/fetch",
    "fetcher_cache_size": "2GB",
    "frameworks_home": "",
    "gc_delay": "2days",
    "gc_disk_headroom": "0.1",
    "hadoop_home": "",
    "help": "false",
    "hostname_lookup": "false",
    "http_authenticators": "basic",
    "http_command_executor": "false",
    "image_providers": "docker",
    "image_provisioner_backend": "copy",
    "initialize_driver_logging": "true",
    "ip_discovery_command": "/opt/mesosphere/bin/detect_ip",
    "isolation": "cgroups/cpu,cgroups/mem,disk/du,network/cni,filesystem/linux,docker/runtime,docker/volume",
    "launcher_dir": "/opt/mesosphere/packages/mesos--253f5cb0a96e2e3574293ddfecf5c63358527377/libexec/mesos",
    "logbufsecs": "0",
    "logging_level": "INFO",
    "master": "zk://zk-1.zk:2181,zk-2.zk:2181,zk-3.zk:2181,zk-4.zk:2181,zk-5.zk:2181/mesos",
    "modules_dir": "/opt/mesosphere/etc/mesos-slave-modules",
    "network_cni_config_dir": "/opt/mesosphere/etc/dcos/network/cni",
    "network_cni_plugins_dir": "/opt/mesosphere/active/cni/",
    "oversubscribed_resources_interval": "15secs",
    "perf_duration": "10secs",
    "perf_interval": "1mins",
    "port": "5051",
    "qos_correction_interval_min": "0ns",
    "quiet": "false",
    "recover": "reconnect",
    "recovery_timeout": "15mins",
    "registration_backoff_factor": "1secs",
    "resources": "[{\"name\": \"ports\", \"ranges\": {\"range\": [{\"begin\": 1025, \"end\": 2180}, {\"begin\": 2182, \"end\": 3887}, {\"begin\": 3889, \"end\": 5049}, {\"begin\": 5052, \"end\": 8079}, {\"begin\": 8082, \"end\": 8180}, {\"begin\": 8182, \"end\": 32000}]}, \"type\": \"RANGES\"}, {\"name\": \"disk\", \"type\": \"SCALAR\", \"role\": \"*\", \"scalar\": {\"value\": 95297}}]",
    "revocable_cpu_low_priority": "true",
    "sandbox_directory": "/mnt/mesos/sandbox",
    "strict": "true",
    "switch_user": "true",
    "systemd_enable_support": "true",
    "systemd_runtime_directory": "/run/systemd/system",
    "version": "false",
    "work_dir": "/var/lib/mesos/slave"
  },
  "frameworks": [
    {
      "id": "8b63f436-482d-44d0-9052-17c23e72ef68-0001",
      "name": "marathon",
      "user": "root",
      "failover_timeout": 604800,
      "checkpoint": true,
      "role": "slave_public",
      "hostname": "172.16.3.35",
      "executors": [
        {
          "id": "chronos.e15c38c2-e343-11e6-a76e-4a6cf8bd6321",
          "name": "Command Executor (Task: chronos.e15c38c2-e343-11e6-a76e-4a6cf8bd6321) (Command: NO EXECUTABLE)",
          "source": "chronos.e15c38c2-e343-11e6-a76e-4a6cf8bd6321",
          "container": "7408da6f-0f5e-43f0-9dc4-1e89121d6621",
          "directory": "/var/lib/mesos/slave/slaves/8b63f436-482d-44d0-9052-17c23e72ef68-S0/frameworks/8b63f436-482d-44d0-9052-17c23e72ef68-0001/executors/chronos.e15c38c2-e343-11e6-a76e-4a6cf8bd6321/runs/7408da6f-0f5e-43f0-9dc4-1e89121d6621",
          "resources": {
            "disk": 0,
            "mem": 2490,
            "gpus": 0,
            "cpus": 2.1,
            "ports": "[31162-31163]"
          },
          "labels": [],
          "tasks": [
            {
              "id": "chronos.e15c38c2-e343-11e6-a76e-4a6cf8bd6321",
              "name": "chronos",
              "framework_id": "8b63f436-482d-44d0-9052-17c23e72ef68-0001",
              "executor_id": "",
              "slave_id": "8b63f436-482d-44d0-9052-17c23e72ef68-S0",
              "state": "TASK_RUNNING",
              "resources": {
                "disk": 0,
                "mem": 2458,
                "gpus": 0,
                "cpus": 2,
                "ports": "[31162-31163]"
              },
              "statuses": [
                {
                  "state": "TASK_RUNNING",
                  "timestamp": 1485379137.33028,
                  "container_status": {
                    "network_infos": [
                      {
                        "ip_addresses": [
                          {
                            "ip_address": "172.16.1.145"
                          }
                        ]
                      }
                    ]
                  }
                }
              ],
              "labels": [],
              "discovery": {
                "visibility": "FRAMEWORK",
                "name": "chronos",
                "ports": {
                  "ports": [
                    {
                      "number": 31162,
                      "name": "http-api",
                      "protocol": "tcp"
                    },
                    {
                      "number": 31163,
                      "name": "libprocess",
                      "protocol": "tcp"
                    }
                  ]
                }
              },
              "container": {
                "type": "DOCKER",
                "docker": {
                  "image": "mesosphere/chronos:v3.0.0",
                  "network": "HOST",
                  "privileged": false,
                  "force_pull_image": false
                }
              }
            }
          ],
          "queued_tasks": [],
          "completed_tasks": []
        }
      ],
      "completed_executors": [
        {
          "id": "chronos.cd1dfab0-df6a-11e6-a76e-4a6cf8bd6321",
          "name": "Command Executor (Task: chronos.cd1dfab0-df6a-11e6-a76e-4a6cf8bd6321) (Command: NO EXECUTABLE)",
          "source": "chronos.cd1dfab0-df6a-11e6-a76e-4a6cf8bd6321",
          "container": "b972bd4a-dc47-4389-a157-f1890ef59bbd",
          "directory": "/var/lib/mesos/slave/slaves/8b63f436-482d-44d0-9052-17c23e72ef68-S0/frameworks/8b63f436-482d-44d0-9052-17c23e72ef68-0001/executors/chronos.cd1dfab0-df6a-11e6-a76e-4a6cf8bd6321/runs/b972bd4a-dc47-4389-a157-f1890ef59bbd",
          "resources": {
            "disk": 0,
            "mem": 32,
            "gpus": 0,
            "cpus": 0.1
          },
          "labels": [],
          "tasks": [],
          "queued_tasks": [],
          "completed_tasks": [
            {
              "id": "chronos.cd1dfab0-df6a-11e6-a76e-4a6cf8bd6321",
              "name": "chronos",
              "framework_id": "8b63f436-482d-44d0-9052-17c23e72ef68-0001",
              "executor_id": "",
              "slave_id": "8b63f436-482d-44d0-9052-17c23e72ef68-S0",
              "state": "TASK_FAILED",
              "resources": {
                "disk": 0,
                "mem": 2458,
                "gpus": 0,
                "cpus": 2,
                "ports": "[5848-5849]"
              },
              "statuses": [
                {
                  "state": "TASK_RUNNING",
                  "timestamp": 1484956071.15787,
                  "container_status": {
                    "network_infos": [
                      {
                        "ip_addresses": [
                          {
                            "ip_address": "172.16.1.145"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "state": "TASK_FAILED",
                  "timestamp": 1485379135.31636,
                  "container_status": {
                    "network_infos": [
                      {
                        "ip_addresses": [
                          {
                            "ip_address": "172.16.1.145"
                          }
                        ]
                      }
                    ]
                  }
                }
              ],
              "labels": [],
              "discovery": {
                "visibility": "FRAMEWORK",
                "name": "chronos",
                "ports": {
                  "ports": [
                    {
                      "number": 5848,
                      "name": "http-api",
                      "protocol": "tcp"
                    },
                    {
                      "number": 5849,
                      "name": "libprocess",
                      "protocol": "tcp"
                    }
                  ]
                }
              },
              "container": {
                "type": "DOCKER",
                "docker": {
                  "image": "mesosphere/chronos:v3.0.0",
                  "network": "HOST",
                  "privileged": false,
                  "force_pull_image": false
                }
              }
            }
          ]
        }
      ]
    }
  ],
  "completed_frameworks": [
    {
      "id": "8b63f436-482d-44d0-9052-17c23e72ef68-0002",
      "name": "chronos",
      "user": "root",
      "failover_timeout": 604800,
      "checkpoint": true,
      "role": "*",
      "hostname": "ip-172-16-1-145.betterdoctor.com",
      "executors": [],
      "completed_executors": [
        {
          "id": "{{.ID}}",
          "name": "Command Executor (Task: {{.ID}}) (Command: sh -c 'envconsul -c...')",
          "source": "{{.ID}}",
          "container": "b9c3b6de-d2ec-45c8-aecd-53102edcd7e9",
          "directory": "/var/lib/mesos/slave/slaves/8b63f436-482d-44d0-9052-17c23e72ef68-S0/frameworks/8b63f436-482d-44d0-9052-17c23e72ef68-0002/executors/{{.ID}}/runs/b9c3b6de-d2ec-45c8-aecd-53102edcd7e9",
          "resources": {
            "disk": 0,
            "mem": 32,
            "gpus": 0,
            "cpus": 0.1
          },
          "tasks": [],
          "queued_tasks": [],
          "completed_tasks": [
            {
              "id": "{{.ID}}",
              "name": "ChronosTask:{{.ID}}",
              "framework_id": "8b63f436-482d-44d0-9052-17c23e72ef68-0002",
              "executor_id": "",
              "slave_id": "8b63f436-482d-44d0-9052-17c23e72ef68-S0",
              "state": "TASK_FINISHED",
              "resources": {
                "disk": 256,
                "mem": 1024,
                "gpus": 0,
                "cpus": 1
              },
              "statuses": [
                {
                  "state": "TASK_RUNNING",
                  "timestamp": 1485292702.3159,
                  "container_status": {
                    "network_infos": [
                      {
                        "ip_addresses": [
                          {
                            "ip_address": "172.16.1.145"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "state": "TASK_FINISHED",
                  "timestamp": 1485292705.52445,
                  "container_status": {
                    "network_infos": [
                      {
                        "ip_addresses": [
                          {
                            "ip_address": "172.16.1.145"
                          }
                        ]
                      }
                    ]
                  }
                }
              ],
              "user": "root",
              "container": {
                "type": "DOCKER",
                "docker": {
                  "image": "quay.io/betterdoctor/dex:release-1.23.2",
                  "network": "BRIDGE",
                  "privileged": false,
                  "force_pull_image": false
                }
              }
            }
          ]
        },
        {
          "id": "{{.ID}}",
          "name": "Command Executor (Task: {{.ID}}) (Command: sh -c 'envconsul -c...')",
          "source": "{{.ID}}",
          "container": "289387d9-bc88-46a7-8d45-28e72dd0e2d9",
          "directory": "/var/lib/mesos/slave/slaves/8b63f436-482d-44d0-9052-17c23e72ef68-S0/frameworks/8b63f436-482d-44d0-9052-17c23e72ef68-0002/executors/{{.ID}}/runs/289387d9-bc88-46a7-8d45-28e72dd0e2d9",
          "resources": {
            "disk": 0,
            "mem": 32,
            "gpus": 0,
            "cpus": 0.1
          },
          "tasks": [],
          "queued_tasks": [],
          "completed_tasks": [
            {
              "id": "{{.ID}}",
              "name": "ChronosTask:{{.ID}}",
              "framework_id": "8b63f436-482d-44d0-9052-17c23e72ef68-0002",
              "executor_id": "",
              "slave_id": "8b63f436-482d-44d0-9052-17c23e72ef68-S0",
              "state": "TASK_FAILED",
              "resources": {
                "disk": 256,
                "mem": 1024,
                "gpus": 0,
                "cpus": 1
              },
              "statuses": [
                {
                  "state": "TASK_RUNNING",
                  "timestamp": 1485372208.12193,
                  "container_status": {
                    "network_infos": [
                      {
                        "ip_addresses": [
                          {
                            "ip_address": "172.16.1.145"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "state": "TASK_FAILED",
                  "timestamp": 1485372211.02997,
                  "container_status": {
                    "network_infos": [
                      {
                        "ip_addresses": [
                          {
                            "ip_address": "172.16.1.145"
                          }
                        ]
                      }
                    ]
                  }
                }
              ],
              "user": "root",
              "container": {
                "type": "DOCKER",
                "docker": {
                  "image": "quay.io/betterdoctor/dex:release-1.23.2",
                  "network": "BRIDGE",
                  "privileged": false,
                  "force_pull_image": false
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
